@import "../../vendor/twitter-bootstrap/bootstrap";
@import "../../vendor/slate-variables";

@font-face {
	font-family: 'FishmongerKExpndNormal';
	src: url('../fonts/fhmgr-7-expnd-4-normal-webfont.eot');
	src: local('â˜º'), url('../fonts/fhmgr-7-expnd-4-normal-webfont.woff') format('woff'), url('../fonts/fhmgr-7-expnd-4-normal-webfont.ttf') format('truetype'), url('../fonts/fhmgr-7-expnd-4-normal-webfont.svg#webfontuwpFmfV5') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FishmongerKExpndLight';
	src: url('../fonts/fhmgr-7-expnd-3-light-webfont.eot');
	src: local('â˜º'), url('../fonts/fhmgr-7-expnd-3-light-webfont.woff') format('woff'), url('../fonts/fhmgr-7-expnd-3-light-webfont.ttf') format('truetype'), url('../fonts/fhmgr-7-expnd-3-light-webfont.svg#webfonttD9JaZfD') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FishmongerKMediumNormal';
	src: url('../fonts/fhmgr-5-medium-4-normal-webfont.eot');
	src: local('â˜º'), url('../fonts/fhmgr-5-medium-4-normal-webfont.woff') format('woff'), url('../fonts/fhmgr-5-medium-4-normal-webfont.ttf') format('truetype'), url('../fonts/fhmgr-5-medium-4-normal-webfont.svg#webfont3YGXOBri') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FishmongerKMediumBold';
	src: url('../fonts/fhmgr-5-medium-7-bold-webfont.eot');
	src: local('â˜º'), url('../fonts/fhmgr-5-medium-7-bold-webfont.woff') format('woff'), url('../fonts/fhmgr-5-medium-7-bold-webfont.ttf') format('truetype'), url('../fonts/fhmgr-5-medium-7-bold-webfont.svg#webfontIt0ERWGh') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
 * Overload
 */
@green-color: #7c9c9f;
@brown-color: #9f937c;
@orange-color: #c79c27;
@yellow-color: #BFC459;

@body-bg: #272B30;
@text-color: #EEE;
@brand-success: @green-color;

@font-family-sans-serif:  sans-serif;
@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2)); // ~28px
@font-size-h2:            floor((@font-size-base * 1.7)); // ~23px
@font-size-h3:            ceil((@font-size-base * 1.4)); // ~20px
@font-size-h4:            ceil((@font-size-base * 1.14)); // ~16px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@headings-font-family: 'FishmongerKExpndLight',sans-serif;

.navbar-default {
	#gradient > .vertical-three-colors(#484e55; #3a3f44; 60%; #313539);
	margin: 0;
}

.navbar-brand {
	font-size: @font-size-h1;
	font-variant: small-caps;
}

.navbar-left {
	padding: 0px 15px 0px 0px;
}

.navbar-right {
	padding: 0px;
}

.navbar-text {
        padding: 15px 4px 15px 0px;
        margin: 0px;
        line-height: 20px;
        font-weight: bold;
}

ul.nav {
	li.dropdown:hover ul.dropdown-menu {
		display: block;
	}
	li.section, li.section:hover, li.section.active, li.section.active:hover {
		a {
			color: @yellow-color;
			font-weight: bolder;
		}
	}
}

section {
	background-color: black;
	padding: 10px 15px;
}

div.row div div.row {
	margin-left: 0;
	margin-right: 0;
}

footer {
	margin-top: 1em;
	font-size: @font-size-small;
}

a {
	color: @yellow-color;
}

.jumbotron {
	background-image: url("/images/bg_top.png");
	padding: 10px 0px 20px 0px;
	margin-bottom: 0px;
	margin-top: -10px;
}

#download {
	background-color: @brand-primary;
	border-radius: @border-radius-base;
	h1 {
		color: white;
		font-size: @font-size-h1;
		text-shadow: 2px 1px 1px #000;
	}
	p {
		text-shadow: 1px 1px #000;
		font: 13px/16px sans-serif;
		margin: 10px 0px 10px 0px;
		color: white;
	}
	#download_lastversion {
                color: @brand-info;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: #111111 2px 4px 4px;
}

h1 { color: @green-color; }
h2 { color: @brown-color; margin: 0.75em; }
h3 { color: #9f7c7c;}
h4 { color: #7f9f7c;}

strong {
	color: @green-color;
}

em {
	color: @orange-color;
}

.pull-left {
	padding: 0px 15px 15px 0px;
}

.pull-right {
	padding: 0px 0px 15px 15px;
}

code {
	padding: 4px 8px;
	color: @gray-darker;
	font-weight: bold;
}

a.fancybox {
	padding: 2px;
}

hr {
	border-color: white;
}

div.bordered-table table {
	font-size: 83%;
	th, td {
		padding: 4px;
		border: 1px solid #C1CDCD;
	}
}

div.obj-portrait img {
	max-width: 100%;
}

div.toc {
	border: 1px solid #C1CDCD;
	padding: 10px;
}

span.require {
	color: #ff7f00;
}
span.red {
	color: red;
}
span.orange {
	color: orange;
}
span.green {
	color: green;
}

code.hljs {
	font-weight: normal;
	font-size: larger;
}
